body {
  --border-radius: 8px;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body.theme-dark {
  --text-primary: #ECF1ED;
  --text-secondary: #D4D4D4;
  --text-tertiary: #5B6886;
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-tertiary: #101320;
}

body.theme-light {
  --text-primary: #ECF1ED;
  --text-secondary: #D4D4D4;
  --text-tertiary: #5B6886;
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-tertiary: #101320;
}

body h1, body h2, body h3, body h4, body div, body ::-webkit-input-placeholder {
  font-family: 'Inter';
  margin: 0;
}

body h1, body h2, body h3, body h4, body div, body :-ms-input-placeholder {
  font-family: 'Inter';
  margin: 0;
}

body h1, body h2, body h3, body h4, body div, body ::-ms-input-placeholder {
  font-family: 'Inter';
  margin: 0;
}

body h1, body h2, body h3, body h4, body div, body ::placeholder {
  font-family: 'Inter';
  margin: 0;
}

body a {
  text-decoration: none;
}

body a:visited, body a:link {
  color: unset;
}

body::-webkit-scrollbar {
  background-color: var(--background-tertiary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--background-secondary);
}

body header {
  height: 100vh;
  background: url(/stuff/background.jpg);
}

body header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#00000000), to(var(--background-tertiary)));
  background: linear-gradient(#00000000, var(--background-tertiary));
}

body header > div #popout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -webkit-animation: left 800ms;
          animation: left 800ms;
}

@-webkit-keyframes left {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes left {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

body header > div #popout .popout-header {
  width: 100%;
  height: 13%;
  min-height: 140px;
  background: url(/stuff/banner.gif) center/cover no-repeat;
}

body header > div #popout .popout-body {
  position: relative;
  margin: 0 20px;
}

body header > div #popout .popout-body .avatar {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100px;
  height: auto;
}

body header > div #popout .popout-body .avatar > :first-child {
  width: 100%;
  height: 100%;
}

body header > div #popout .popout-body .avatar .status {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  background: url("https://discord.c99.nl/widget/theme-4/265924886461939712.png") no-repeat;
  background-position: -130px -129px;
  background-size: 900px;
  border-radius: 50%;
  border: 3px solid var(--background-tertiary);
}

body header > div #popout .popout-body .username {
  color: var(--text-primary);
  margin-top: 75px;
}

body header > div #popout .popout-body #badgeList {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  right: 0;
}

body header > div #popout .popout-body #badgeList .badge {
  width: 23px;
  height: 23px;
  margin-right: 13px;
}

body header > div #popout .popout-body #badgeList .badge img {
  width: 100%;
  height: 100%;
}

body header > div #popout .popout-body #badgeList .badge:last-child {
  margin-right: 0;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

body header > div #popout .popout-body .about-me {
  font-weight: lighter;
  color: var(--text-secondary);
  margin-top: 8px;
}

body header > div #popout .popout-body .activity {
  position: relative;
  margin-top: 40px;
  padding: 10px;
  background-color: #7289da;
  border-radius: 0 0 8px 8px;
}

body header > div #popout .popout-body .activity div {
  width: 100%;
  height: 50px;
  background: url("https://discord.c99.nl/widget/theme-4/265924886461939712.png") no-repeat;
  background-position: -95px -30px;
  background-size: 130%;
}

body header > div #popout .popout-body .activity::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  background: url(./stuff/wave_playing.png);
  background-size: 100% 20px;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 1;
}

@-webkit-keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 360px;
  }
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 360px;
  }
}

body header > div #popout .popout-body .activity::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 100%;
  top: -20px;
  left: 0;
  background: url("https://nyri4.github.io/Comfy/assets/wave.png");
  background-size: 100% 20px;
  -webkit-animation: animate2 4s linear infinite;
          animation: animate2 4s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  opacity: 1;
}

@-webkit-keyframes animate2 {
  0% {
    background-position-x: 360px;
  }
  100% {
    background-position-x: 0;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 360px;
  }
  100% {
    background-position-x: 0;
  }
}

body header > div #popout .popout-body .roles {
  margin-top: 20px;
}

body header > div #popout .popout-body .roles h4 {
  color: var(--text-primary);
}

body header > div #popout .popout-body .roles #roleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  color: var(--text-primary);
}

body header > div #popout .popout-body .roles #roleList .role {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  margin: 0 6px 6px 0;
  padding: 7px;
  border: solid;
  border-width: 0 0 0 3px;
  border-radius: 1px 3px 3px 1px;
  font-size: 0.85rem;
}

body header > div #popout .popout-body .roles #roleList .role img {
  height: 30px;
  margin: -15px 5px 0 0;
}

body header > div #popout .popout-footer {
  margin: 20px;
}

body header > div #popout .popout-footer input {
  width: calc(100% - 16px);
  height: 40px;
  background-color: var(--background-secondary);
  border: none;
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--text-primary);
  font-size: 0.85rem;
}

body header > div #popout .popout-footer input:focus {
  outline: none;
}

body main {
  padding: 30px 30px 0.5px 30px;
  background-color: var(--background-tertiary);
}

body main #themes-header {
  margin-bottom: 20px;
}

body main #themes-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #themes-header > div img {
  width: 40px;
}

body main #themes-header > div h4 {
  font-size: 1.5em;
  color: var(--text-tertiary);
  margin-left: 10px;
}

body main #themes-header .separator {
  position: relative;
  top: -4px;
  left: 23px;
  width: 200px;
  height: 4px;
  background-color: var(--text-tertiary);
  border-radius: var(--border-radius);
}

body main #themes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 25px;
  margin-bottom: 40px;
}

body main #themes .theme {
  position: relative;
  max-width: 700px;
  color: var(--text-secondary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

body main #themes .theme img {
  width: 100%;
  height: 100%;
}

body main #themes .theme h2 {
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
  padding: 10px 0 10px 15px;
  background-color: #00000036;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  -webkit-transition: bottom 0.15s;
  transition: bottom 0.15s;
}

body main #themes .theme:hover h2 {
  bottom: 0;
}

body main #spotify-header {
  margin-bottom: 20px;
}

body main #spotify-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #spotify-header > div img {
  width: 40px;
}

body main #spotify-header > div h4 {
  font-size: 1.5em;
  color: var(--text-tertiary);
  margin-left: 10px;
}

body main #spotify-header .separator {
  position: relative;
  top: -4px;
  left: 23px;
  width: 200px;
  height: 4px;
  background-color: var(--text-tertiary);
  border-radius: var(--border-radius);
}

body main #spotify {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 25px;
  margin-bottom: 40px;
}

body main #spotify .spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-secondary);
  background-color: var(--background-secondary);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

body main #spotify .spotify img {
  height: 100%;
}

body main #spotify .spotify h2 {
  margin-left: 15px;
  margin-top: 5px;
}
/*# sourceMappingURL=main.css.map */